p {

    color: aquamarine;
    background-color: blueviolet;
    font-size: medium;
    animation-direction: alternate-reverse;
    overflow: hidden;
    width: 600px;
    font-size: 50px
    
    
}

h1{
 
}